.App {
  text-align: center;
  font-family: sans-serif;
}
div.container {
  display: block;
  margin-top: 40px;
  padding: 0 50px 75px;
  border: 1px solid grey;
  max-width: 1000px;
  background: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 10%,
    #2cacd1 65%,
    #35eb93 100%
  );
  color: white;
  border-radius: 20px;
  text-align: center;
}
.today {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid grey;
  border-radius: 30px;
}
h6 {
  font-size: 16px;
}
.temperature {
  font-size: 60px;
}
#date {
  position: relative;
  top: -5px;
}
#time {
  position: relative;
  top: -10px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -24px;
}
#current-conditions {
  font-size: 20px;
}

img {
  position: relative;
  top: -16px;
}

.WeatherForecast {
  max-width: 600px;
  margin-left: 130px;
}
.WeatherIcon {
  color: white;
}